:root {
  --first-color: #fff;
  --second-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
button {
  border: none;
  background-color: transparent;
}

body {
  font-size: 0.8rem;
  line-height: 1.2;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: var(--first-color);
  min-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__logo {
  width: 1.25rem;
  height: 1.5rem;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}
.nav__item {
  transition: all 0.5s ease-in-out;
  height: 100%;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}
.nav__item:last-child {
  opacity: 0;
}
.nav__item:not(:last-child):hover {
  border-color: var(--second-color);
}

.nav__link {
  padding: 0.5rem 0.52rem 0.4rem;
  height: 100%;
  display: inline-block;
}

.nav__btn {
  padding: 0.75rem 2.85rem;
  background-color: var(--second-color);
  color: var(--first-color);
  border: 1px solid var(--second-color);
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav__btn:hover {
  background-color: transparent;
  color: var(--second-color);
}

.design {
  margin: 0 0 9rem;
}
.design__picture {
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}
.design__content {
  position: relative;
  padding: 8.15rem 0 1.2rem;
  width: 100%;
}
.design__image {
  width: 66.67%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.design__title {
  font-size: 10.5rem;
}
.design__title span {
  position: absolute;
}
.design__title span:nth-child(1) {
  top: 29.2%;
  left: 0;
  z-index: 3;
}
.design__title span:nth-child(2) {
  top: 29.2%;
  left: 25.5%;
  z-index: 1;
}
.design__title span:nth-child(3) {
  top: 34.7%;
  right: 29.6%;
  z-index: 3;
}
.design__title span:nth-child(4) {
  bottom: 14.3%;
  right: 19.25%;
  z-index: 3;
}
.design__title span:nth-child(5) {
  bottom: 0;
  right: 0.05rem;
  z-index: 1;
}
section:not(:first-child):not(:last-child) {
  margin: 9rem 0;
}
.section__title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.design .section__title {
  font-size: 1.8rem;
}

.section__text {
  text-align: center;
  margin-top: 1rem;
}
.design__wrapper {
  margin-top: 9rem;
}
.design__choose {
  margin: 3.9rem 1rem 0;
}
.choose__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.choose__item {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #777;

  transition: all 0.5s ease-in-out;
}
.choose__link {
  padding: 2.4rem 2.7rem 2.35rem;
}
.choose__link img {
  pointer-events: none;
}
.choose__item * {
  cursor: pointer;
}
.choose__link:hover {
  padding: 1.55rem 1.85rem 1.15rem;
}

.composition__text {
  max-width: 32.65rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.composition__wrapper {
  display: grid;
  grid-template-columns: 11.5rem 12.25rem;
  gap: 7.5rem;
  margin: 2rem auto 0;
  max-width: 31.25rem;
}
.composition__content p {
  line-height: 118.5%;
}
.composition__content p + p {
  margin-top: 4rem;
}

.case {
  background-color: #fafafa;
  padding: 4.1rem 0 4.9rem;
}
.case__text {
  margin-top: 0.85rem;
  font-size: 0.805rem;
}
.case__picture {
  display: block;
  width: clamp(200px, 75%, 20rem);
  margin: 2rem auto 0;
}
article + article {
  margin-top: 8rem;
}
.case__number {
  font-size: 10.5rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-top: 2rem;
}
article:last-child .case__text {
  max-width: 20.15rem;
  margin: 1.95rem auto 0;
  line-height: 117%;
}
article:last-child .case__text span {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.footer {
  background-color: #000;

  color: #fff;
  overflow: hidden;
}
.footer__picture {
  position: relative;
}
.picture__sound {
  position: absolute;
  left: 0;
  right: 0;
  top: 23.5%;
  pointer-events: none;
}
.footer__bottom-wrapper {
  padding-top: 12.5%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.picture__content {
  position: absolute;
  max-width: 14.8rem;
  line-height: 130%;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 15.5%;
  margin: 0 auto;
}
.picture__content p + p {
  margin-top: 1rem;
}
.picture__btn {
  padding: 0.75rem 2.9rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: #fff;
  margin-top: 1.5rem;
  font-weight: 700;
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.footer__text {
  text-align: center;
}
.footer__text:not(:first-child) {
  margin-top: 1rem;
}
.footer__logo {
  filter: invert(1);
  margin-top: 1rem;
  width: 1.25rem;
  height: 1.5rem;
}
.footer__nav {
  margin: 4rem 0 2.3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

footer .nav__link {
  padding: 0;
  border: none;
}

@media only screen and (max-width: 1240px) {
  .design__image {
    width: 64.5vw;
  }
  .design__title {
    font-size: 17vw;
  }
  .picture__content {
    max-width: 75%;
  }
  .picture__content p + p {
    margin-top: 0.5rem;
  }
  .picture__btn {
    margin-top: 1rem;
  }
  /* .design__title span {
    position: absolute;
  }
 */
}
@media only screen and (max-width: 780px) {
  :where(header) .nav__list {
    gap: 0.5rem;
  }
  .design {
    margin: 0 0 4rem;
  }
  section:not(:first-child):not(:last-child) {
    margin: 4rem 0;
  }
  .design__content {
    padding: 4.15rem 0 1.2rem;
  }
  .design__wrapper {
    margin-top: 4rem;
  }
  .choose__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .composition__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .composition__content p + p {
    margin-top: 1rem;
  }
  .picture__content {
    max-width: 100%;
    bottom: 7%;
    font-size: 0.8rem;
  }
  article + article {
    margin-top: 3rem;
  }
  .section__title {
    font-size: 2rem;
  }
  .case__number {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .nav__item:has(button) {
    display: none;
  }
  :where(header) .nav__list {
    gap: 0.1rem;
  }
  .design__wrapper {
    margin-top: 1rem;
  }
  .choose__link {
    padding: 1.4rem 1.7rem 1.35rem;
  }
  .choose__list {
    gap: 1rem;
  }
  .design__choose {
    margin: 1rem 1rem 0;
  }
  .picture__content {
    bottom: 20%;
  }
  .picture__content p {
    display: none;
  }

  .case {
    padding: 2.1rem 0 2.9rem;
  }
  .case__number,
  article:last-child .case__text {
    margin-top: 0rem;
  }

  .design__title span:nth-child(1) {
    top: 32.2%;
  }
  .design__title span:nth-child(2) {
    top: 32.2%;
  }
  .design__title span:nth-child(3) {
    top: 37.7%;
  }
  .design__title span:nth-child(4) {
    bottom: 16.3%;
    right: 16.75%;
    z-index: 3;
  }
  .design__title span:nth-child(5) {
    bottom: 0;
    right: 0.05rem;
    z-index: 1;
  }
}
@media only screen and (max-width: 400px) {
  .composition__wrapper {
    grid-template-columns: 1fr;
  }
  .composition__picture {
    order: -1;
  }
  .composition__content p {
    text-align: center;
  }
}
